h1 {
  color: #FF0000;
}

p {
  text-align: justify;
}

.col-sm-6 ul li {
  color: #FFFFFF;
  list-style: none;
}

nav {
  width: 16%;
}

nav ul {
  margin-left: 9px;
}

.link-button a {
  display: inline-block;
  border: 2px solid #fff;
  padding: 8px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

.text-muted li {
  color: white;
  font-size: large;
  list-style: none;
}

.slides .slide img {
  width: unset;
}

.col-sm-12 ul li {
  color: #FFFFFF;
  list-style: none;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.right-content li {
  color: #FFFFFF;
  list-style: none;
}

.col-sm-12 .text-muted li {
  color: #FFFFFF;
  list-style: none;
}

.slides .slide .content {
  left: 17%;
  width: 82%;
}

/*# sourceMappingURL=estilos.css.map */
