$color_1: #FF0000;
$color_2: #FFFFFF;

h1 {
	color: $color_1;
}
p {
	text-align: justify;
}
.col-sm-6 {
	ul {
		li {
			color: $color_2;
			list-style: none;
		}
	}
}

nav{
	width: 16%;
}

nav ul{
	margin-left: 9px;
}

.link-button a{
	display: inline-block;
    border: 2px solid #fff;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

.text-muted li{
	color: white;
	font-size: large;
	list-style: none;
}

.slides .slide img{
	width: unset;
}

.col-sm-12 {
	ul {
		li {
			color: $color_2;
			list-style: none;
			width: 200px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.right-content{
	li{
		color: $color_2;
		list-style: none;
	}
}

.col-sm-12{
	.text-muted {
		li {
			color: $color_2;
			list-style: none;
		}
	}
}

.slides {
	.slide {
		.content {
			left: 17%;
			width: 82%;
		}
	}
}
